---
import { Image } from "astro:assets";
import logo from "../assets/bandera.png";
---


<nav id="main-nav" class="fixed top-0 left-0 w-screen px-4 flex items-center text-center justify-between sm:justify-around z-50 transition-all ease-in-out duration-300 bg-transparent">

  <div class="flex items-center text-white text-2xl sm:text-2xl font-bold pr-4  pt-6 ">
    <h1 class="mr-4">VITA CAFE</h1><Image class="h-8 w-8 sm:h-7  sm:w-auto animate-pulse " src={logo} alt="bandera" />
  </div>

  <div class="hidden md:flex items-center justify-center space-x-6 pt-6">
    <a href="/" class="text-white/90 hover:text-blue-200">Inicio</a>
    <a href="#technologies" class="text-white/90 hover:text-blue-200">Productos</a>
    <a href="#aboutUs" class="text-white/90 hover:text-blue-200">Nosotros</a>
  </div>



  <div class="md:hidden">
    <button id="menu-button" class="text-white focus:outline-none pt-6">
      <svg
        class="w-10 h-10"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>
</nav>

<div
  id="mobile-menu"
  class="md:hidden hidden fixed top-16 left-0 w-full bg-blue-500/90 z-40 shadow-lg"
>
  <a href="/" class="block px-4 py-3 text-white hover:bg-blue-700">Inicio</a>
  <a href="#services" class="block px-4 py-3 text-white hover:bg-blue-700">Menu</a>
  <a href="#technologies" class="block px-4 py-3 text-white hover:bg-blue-700">Productos</a>
  <a href="#aboutUs" class="block px-4 py-3 text-white hover:bg-blue-700">Nosotros</a>
</div>

<script>
  const menuButton = document.getElementById("menu-button");
  const mobileMenu = document.getElementById("mobile-menu");
  const nav = document.getElementById("main-nav");

  menuButton.addEventListener("click", () => {
    mobileMenu.classList.toggle("hidden");
  });

  // Scroll listener para cambiar estilo del navbar
  window.addEventListener("scroll", () => {
    if (window.scrollY > 30) {
      nav.classList.add("bg-[#43260F]/70", "shadow-md", "py-2");
      nav.classList.remove("bg-transparent", "py-6");
    } else {
      nav.classList.remove("bg-[#43260F]/70", "shadow-md", "py-2");
      nav.classList.add("bg-transparent", "py-6");
    }
  });

  // Set clase inicial
  nav.classList.add("py-6");
  
</script>
