---
import { Image } from "astro:assets";
import logo from "../assets/logovitab.png";
---

<main class="bg-[url(/src/assets/bg-cafe-1.jpg)] bg-cover bg-center h-screen w-full">

<div class="w-full min-h-screen flex flex-col justify-center items-center ">
	<div>
		<Image class="h-8 w-8 sm:h-[500px]  sm:w-auto" src={logo} alt="Logo" />
	</div>
	<div>
		
	</div>
</div>

</main>
